/********* MOBILE DESIGN ******/
body{
    font-family: 'Exo', sans-serif;
    margin: 0;
    height: 100vh;
    color: #314949;
}
/* Dark Mode */
body.dark{
    color: #F8F9FA;
}

/**** TOTAL AREA ****/
main {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/***** SIDE MENU *****/
aside{
    background-color: #F9F3EC;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 20%;
    /* align-items: center; */
}
aside.dark{
    background-color: #6C757D;
}
aside h2{
    text-align: center;
}
aside ul{
    list-style-type: square;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    /* align-self: left; */
    padding-left: 30%;
}


/******* MAIN SECTIONS ******/

section#main-grid{
    background-color: #ECD9C5;
    flex: 1 1 80%;
    display: grid;
    grid-template-rows: repeat(3, 6%) 3fr 6% 1fr;
    padding: 5px;
}
/* Dark Mode */
section#main-grid.dark{
    background-color: #212529;
}

        /* HEADER TITLE */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
        /* NAV LINKS */
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    padding: 0 10px;
}

    /* NEW - DARK BUTTONS AREA */
.new-dark-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.new-dark-buttons button{
    font-family: 'Exo', sans-serif;
    border: 0;
    color: #fff;
    border-radius: 10px;
    padding: 0 20px;
}
.new{
    background-color: #4B7171;
}
.theme{
    background-color: #6F6A87;
}
/* Dark Mode */
.theme.dark{
    background-color: #E9ECEF;
    color: #000;
}


    /* INPUT AREA */
.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin: 10px;
}
.input textarea{
    font-family: 'Exo', sans-serif;
    width: 95%;
    height: 100%;
    padding: 10px;
    resize: none;
    background-color: #f5f2ef;
    border: 0;
    border-radius: 10px;
}
.input textarea:focus{
    outline: none;
    border: 3px solid lightskyblue;
    border-radius: 3px;
}
/* Dark Mode */
.input textarea.dark{
    background-color: #CED4DA;
}
.input textarea.dark:focus{
    border-color:rgb(250, 126, 147);
}


    /* SAVE - CANCEL AREA */
.save-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}
.save-buttons button{
    font-family: 'Exo', sans-serif;
    border: 0;
    color: #fff;
    border-radius: 10px;
    padding: 0 20px;
    margin: 0 5px;
}
.save{
    background-color: #4B7171;
    /* background-color: #343A40; */
}
.cancel{
    background-color: #D9827C;
}


    /* FOOTER AREA */
footer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/***** MEDIA QUERY - DESKTOP ******/
@media screen and (min-width: 501px){
    aside ul{
        padding-left: 15%;
    }
    #main-grid{                                    
        grid-template-rows: repeat(3, 60px) 1fr 60px 40%;
    }
}