body{
    font-family: 'Exo', sans-serif;
    margin: 0;
    height: 100vmax;
    /* width: 100vmax; */
}

/* TOTAL AREA */
main {
    display: flex;
    flex-direction: row;
    height: 100vmax;
}

/***** SIDE MENU *****/
aside{
    background-color: #F9F3EC;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 20%;
    align-items: center;
}
aside ul{
    list-style-type: square;
    display: flex;
    flex-direction: column;
    align-self: start;
}


/******* MAIN AREAS ******/

#main-grid{
    background-color: #E7CEB1;
    flex: 1 1 80%;
    display: grid;
    /* display: inline-flex;
    flex-direction: column; */
    grid-template-rows: repeat(3, 50px) 200px 50px 1fr;
    padding: 5px;
}

        /* Header title */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
        /* Nav links */
nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    padding: 0 10px;
}
        /* Section edit-area */
/* .edit-area{
    display: flex;
    flex-direction: column;
} */
.new-dark-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
    margin: 10px;
}
.input textarea{
    width: 95%;
    height: 100%;
    padding: 10px;
}
.save-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}
.save-buttons button{
    padding: 0px 10px;
    margin: 0 5px;
}

footer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}